<!--footer-->
<footer>
    <div class="div3">
    <p>&copy; UNCC Events
        <a class="a2" href="/about">About</a>        
        <a class="a2" href="/contact">Contact</a>
    </p>
    </div>
    <div class="div4">
    <p>
        <a href="/" class="fa fa-facebook"></a>
        <a href="/" class="fa fa-twitter"></a>
    </p>
    </div>
</footer>
<!--footer end-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>