<%- include('./partials/header.ejs')%>
    
    <!--main content-->
    <main class="main1">
        <p class="p1"> About UNC Charlotte Events website.</p>
        <p class="p2">Platform to participate and create events which are happening in the University of North Carolina at Charlotte and connect with people.
            Whether it can be a sports event or a student organization event try to attend the events which you are interested in.
        </p>
        <p class="p2">
            Check out the events page to know more about the events happening at UNC Charlotte</p>
    </main>
    <!--main content end-->

    <%- include('./partials/footer.ejs')%>   