<%- include('./partials/header.ejs')%>
    
    <!--main content-->
    <main class="main1">
        <p class="p1">Contact US</p>
        <p class="p2">Address - 9201 University City Blvd, Charlotte, NC 28223</p>
        <p class="p2">Phone  - (984) 364-7977</p>
    </main>
    <!--main content end-->

    <%- include('./partials/footer.ejs')%>   