<%- include('./partials/header.ejs')%>
    
    <!--main content-->
    <main class="main1">
        <p class="p1"><%= error.status%> Error</p>
        <p class="p2"><%= error.message%> </p>
       
    </main>
    <!--main content end-->

    <%- include('./partials/footer.ejs')%>   